{% block appbundle_cliente_cuentabancaria_row %}
    <div class="row form-group">
        <div class="col-sm-3">
            {{ form_row(form.alias) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.banco) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.numeroCuenta) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.clabe) }}
        </div>
        <div class="col-sm-12 remove-container">
        </div>
    </div>
{% endblock %}
