{% block appbundle_cliente_razonsocial_row %}
    <div class="row form-group">
        <div class="col-sm-3">
            {{ form_row(form.rfc) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.razonSocial) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.direccion) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.correos) }}
        </div>
        <div class="col-sm-12 remove-container">
        </div>
    </div>
{% endblock %}