{% block form_widget %}
    {% spaceless %}
        <td>
            {{ form_widget(form.metodopago) }}
        </td>
        <td>
           {{ form_widget(form.cantidad) }}
        </td>
        <td>
            {{ form_widget(form.fecharealpago) }}
        </td>
        <td>
            {{ form_widget(form.dolar) }}
        </td>
        <td></td>
        <td style="vertical-align: middle">
            <a href="#" class="remove-pago btn btn-xs btn-naranja">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </td>
    {% endspaceless %}
{% endblock %}