{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Astillero Nueva Cotización
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Nueva Cotización</h3>
                    ADW-001
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active"><a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a></li>
                        <li role="presentation"><a href="#basicos" aria-controls="basicos" role="tab" data-toggle="tab">Servicios Básicos</a></li>
                        <li role="presentation"><a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">...1</div>
                        <div role="tabpanel" class="tab-pane" id="basicos">...2</div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row negative">
                                <div class="text-right col-md-8">
                                    <label class="labelcambio" for="cambio">Tipo de cambio:</label>
                                    <input type="text" class="form-control inputcambio" id="cambio" value="19.32 MXN">
                                </div>
                                <div class="col-md-4"> </div>
                                <div class="col-md-12"><p class="textos pmargin">Precios en USD</p></div>
                                <div class="col-md-8">
                                    <table class="table table-condensed menu text-center" cellspacing="0">
                                        <thead class="morado">
                                        <tr>
                                            <th class="cantidad">Cant.</th>
                                            <th class="productodescripcion">Producto / Servicio</th>
                                            <th>Prec. Unit.</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th class="productodescripcion">Descripción</th>
                                            <th class="subtotales">Sub-totales</th>
                                        </tr>
                                        </thead>
                                        <tbody class="azulon">
                                        <tr>
                                            <td>1</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-6">
                                        <div class="text-left">
                                            <input class="miniboton" type="submit" value="+ Producto/Servicio">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-offset-3">
                                        <div class="text-right">
                                            <hr class="borde2">
                                            <p class="azul subtitulo texto">Sub-total:</p>
                                            <br>
                                            <p class="subtitulo subtexto">$19,854.36USD</p>
                                            <hr class="borde2">
                                            <p class="azul subtitulo texto">I.V.A.:</p>
                                            <br>
                                            <p class="subtitulo subtexto">$2,254.40USD</p>
                                            <hr class="borde2">
                                            <p class="azul subtitulo texto">Total:</p>
                                            <br>
                                            <p class="subtitulo subtexto">$22,075.72USD</p>
                                            <hr class="borde2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <input class="botonvis" type="submit" value="Visualizar">
                                        <input class="botonaceptar" type="submit" value="Aceptar">
                                        <input class="botonrechazar" type="submit" value="Rechazar">
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock %}