{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Astillero ODT
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Ordenes de Trabajo</h3>
                            Cotización aprobada #0238
                        </div>
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-contorno-azul" href="{{ path('astillero-odt-dias') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="letra-azul">Fermin Larralde</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8">
                                <hr>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>05-junio-17 Lunes</p>
                                <a>+ Agregar tiempos</a>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>

                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>
                                    </div>
                                    <div class="col-sm-5">
                                        <select class="select1" name="mod" form="form">
                                            <option value="a"></option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>

                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>
                                    </div>
                                    <div class="col-sm-5">
                                        <select class="select1" name="mod" form="form">
                                            <option value="a"></option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8">
                                <hr>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>06-junio-17 Martes</p>
                                <a>+ Agregar tiempos</a>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>

                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>
                                    </div>
                                    <div class="col-sm-5">
                                        <select class="select1" name="mod" form="form">
                                            <option value="a"></option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>

                                        <button class="btn btn-xs" type="button" id="mnsmas">-</button>
                                        <label id="hrs">8:00 hrs</label>
                                        <button class="btn btn-xs margenboton" type="button" id="mnsmas">+</button>
                                    </div>
                                    <div class="col-sm-5">
                                        <select class="select1" name="mod" form="form">
                                            <option value="a"></option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                            <option value="...">....</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}