{% extends 'estructura/plantilla.twig' %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Facturas</h3>
                </div>
                <div class="panel-body">
                    <table class="table-novo table text-center">
                        <thead>
                        <tr>
                            <th># Cotizacion</th>
                            <th>Empresa</th>
                            <th>Cliente</th>
                            <th>RFC</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>AB1234</td>
                            <td>WebCancun</td>
                            <td>Pablo Ayala</td>
                            <td>WCN028465275</td>
                            <td>$ 20,000.00</td>
                            <td>2017/03/14</td>
                        </tr>
                        <tr>
                            <td>AB1234</td>
                            <td>WebCancun</td>
                            <td>Pablo Ayala</td>
                            <td>WCN028465275</td>
                            <td>$ 20,000.00</td>
                            <td>2017/03/14</td>
                        </tr>
                        <tr>
                            <td>AB1234</td>
                            <td>WebCancun</td>
                            <td>Pablo Ayala</td>
                            <td>WCN028465275</td>
                            <td>$ 20,000.00</td>
                            <td>2017/03/14</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}