{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Inicio
{% endblock %}

{% block contwrapper %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Inicio
        </h1>
    </section>
    <section class="content">

    </section>
</div>
{% endblock %}