{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Agenda
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Agenda</h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('evento_new') }}" class="btn btn-contorno-azul pull-right">+ Nuevo evento</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <div id='calendario'></div>
                </div>
                {#<div class="panel-body panel-pestanias">#}
                    {#<ul class="nav nav-tabs" role="tablist">#}
                        {#<li role="presentation" class="primero active"><a href="#mes" aria-controls="mes" role="tab"#}
                                                                          {#data-toggle="tab">Mes</a></li>#}
                        {#<li role="presentation"><a href="#semana" aria-controls="semana" role="tab" data-toggle="tab">Semana</a>#}
                        {#</li>#}
                        {#<li role="presentation"><a href="#dia" aria-controls="dia" role="tab" data-toggle="tab">Día</a>#}
                        {#</li>#}
                    {#</ul>#}
                    {#<div class="tab-content">#}
                        {#<div role="tabpanel" class="tab-pane active" id="mes">#}
                            {##}
                            {#<div class="row">#}
                                {#<div class="col-sm-6">#}
                                    {#<span>Julio 2017</span>#}
                                {#</div>#}
                                {#<div class="col-sm-6">#}
                                    {#<a class="btn btn-morado-claro pull-right" href="{{ path('marina-agenda-nuevo-evento') }}">+ Nuevo evento</a>#}
                                    {#<br><br>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="row">#}
                                {#<div class="col-sm-12">#}
                                    {#<table class="table calendario">#}
                                        {#<thead>#}
                                        {#<tr class="text-center">#}
                                            {#<th>LUNES</th>#}
                                            {#<th>MARTES</th>#}
                                            {#<th>MIERCOLES</th>#}
                                            {#<th>JUEVES</th>#}
                                            {#<th>VIERNES</th>#}
                                            {#<th>SABADO</th>#}
                                            {#<th>DOMINGO</th>#}
                                        {#</tr>#}
                                        {#</thead>#}
                                        {#<tbody class="text-right">#}
                                        {#<tr>#}
                                            {#<td>1</td>#}
                                            {#<td>2</td>#}
                                            {#<td>3</td>#}
                                            {#<td>4</td>#}
                                            {#<td>5</td>#}
                                            {#<td>6</td>#}
                                            {#<td>7</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>8#}
                                                {#<div class="etiqueta-evento fondo-azul">Junta Hyperion</div>#}
                                                {#<div class="etiqueta-evento fondo-azul">Junta Hyperion</div>#}
                                                {#<div class="text-left"><a>+3 más</a></div>#}
                                            {#</td>#}
                                            {#<td>9</td>#}
                                            {#<td>10#}
                                                {#<div class="etiqueta-evento fondo-rojo">Junta Hyperion</div>#}
                                            {#</td>#}
                                            {#<td>11</td>#}
                                            {#<td>12</td>#}
                                            {#<td>13#}
                                                {#<div class="etiqueta-evento fondo-naranja">Junta Hyperion</div>#}
                                            {#</td>#}
                                            {#<td>14</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>15</td>#}
                                            {#<td>16</td>#}
                                            {#<td>17</td>#}
                                            {#<td>18#}
                                                {#<div class="etiqueta-evento fondo-amarillo">Junta Hyperion</div>#}
                                            {#</td>#}
                                            {#<td>19</td>#}
                                            {#<td>20</td>#}
                                            {#<td>21</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>22</td>#}
                                            {#<td>23</td>#}
                                            {#<td>24</td>#}
                                            {#<td>25</td>#}
                                            {#<td>26#}
                                                {#<div class="etiqueta-evento fondo-verde">Junta Hyperion</div>#}
                                            {#</td>#}
                                            {#<td>27</td>#}
                                            {#<td>28</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>29</td>#}
                                            {#<td>30</td>#}
                                            {#<td>31</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#</tbody>#}
                                    {#</table>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div role="tabpanel" class="tab-pane" id="semana">#}
                            {#<div class="row">#}
                                {#<div class="col-sm-6">#}
                                    {#<span>15 - 21 Julio 2017</span>#}
                                {#</div>#}
                                {#<div class="col-sm-6">#}
                                    {#<a class="btn btn-morado-claro pull-right" href="{{ path('marina-agenda-nuevo-evento') }}">+ Nuevo evento</a>#}
                                    {#<br><br>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="row">#}
                                {#<div class="col-sm-12">#}
                                    {#<table class="table calendario text-center">#}
                                        {#<thead class="">#}
                                        {#<tr>#}
                                            {#<th>HORAS</th>#}
                                            {#<th>LUNES</th>#}
                                            {#<th>MARTES</th>#}
                                            {#<th>MIERCOLES</th>#}
                                            {#<th>JUEVES</th>#}
                                            {#<th>VIERNES</th>#}
                                            {#<th>SABADO</th>#}
                                            {#<th>DOMINGO</th>#}
                                        {#</tr>#}
                                        {#</thead>#}
                                        {#<tbody class="text-right">#}
                                        {#<tr>#}
                                            {#<td>1:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>2:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>3:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>4:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>5:00 HR</td>#}
                                            {#<td>#}
                                                {#<div class="etiqueta-evento fondo-azul">Junta Hyperion</div>#}
                                            {#</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>6:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>7:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>8:00 HR</td>#}
                                            {#<td><div class="etiqueta-evento fondo-azul">Junta Hyperion</div></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td><div class="etiqueta-evento fondo-naranja">Junta Hyperion</div></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>9:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>10:00 HR</td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td><div class="etiqueta-evento fondo-rojo">Junta Hyperion</div></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#</tbody>#}
                                    {#</table>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div role="tabpanel" class="tab-pane" id="dia">#}
                            {#<div class="row">#}
                                {#<div class="col-sm-6">#}
                                    {#<span>15 Julio 2017</span>#}
                                {#</div>#}
                                {#<div class="col-sm-6">#}
                                    {#<a class="btn btn-morado-claro pull-right" href="{{ path('marina-agenda-nuevo-evento') }}">+ Nuevo evento</a>#}
                                    {#<br><br>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="row">#}
                                {#<div class="col-sm-6">#}
                                    {#<table class="table calendario text-center">#}
                                        {#<thead class="">#}
                                        {#<tr>#}
                                            {#<th>HORAS</th>#}
                                            {#<th>LUNES</th>#}
                                        {#</tr>#}
                                        {#</thead>#}
                                        {#<tbody class="text-right">#}
                                        {#<tr>#}
                                            {#<td>1:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>2:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>3:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>4:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>5:00 HR</td>#}
                                            {#<td>#}
                                                {#<div class="etiqueta-evento fondo-azul">Junta Hyperion</div>#}
                                            {#</td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>6:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>7:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>8:00 HR</td>#}
                                            {#<td><div class="etiqueta-evento fondo-azul">Junta Hyperion</div></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>9:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#<tr>#}
                                            {#<td>10:00 HR</td>#}
                                            {#<td></td>#}
                                        {#</tr>#}
                                        {#</tbody>#}
                                    {#</table>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                {#</div>#}
            </div>
        </section>
    </div>
{% endblock %}