{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Marina Nueva Cotización
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Nueva Cotización</h3>
                    AMSN-092
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active"><a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a></li>
                        <li role="presentation"><a href="#basicos" aria-controls="basicos" role="tab" data-toggle="tab">Servicios Básicos</a></li>
                        <li role="presentation"><a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <form>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Cliente:</label><br/>
                                        <input type="text">
                                        <label>Número Telefónico:</label><br/>
                                        <input type="text">
                                        <label>Correo Electrónico:</label><br/>
                                        <input type="text">
                                        <label>R.F.C:</label><br/>
                                        <input type="text">
                                        <label>Razón social:</label><br/>
                                        <input type="text">
                                        <label>Clabe bancaria:</label><br/>
                                        <input type="text">
                                        <label>Número de cuenta:</label><br/>
                                        <input type="text">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Banco:</label><br/>
                                        <input type="text">
                                        <label>Dirección fiscal:</label><br/>
                                        <input type="text">
                                        <br/>
                                        <br/>
                                        <input type="text">
                                        <br/>
                                        <br/>
                                        <input type="text">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Embarcación:</label><br/>
                                        <label><input type="radio" name="optradio" checked>La Sirenita</label>
                                        <label><input type="radio" name="optradio">La Rumorosa</label>
                                        <br/>
                                        <label>Tipo de Embarcación:</label><br/>
                                        <input type="text">
                                        <label>Eslora:</label><br/>
                                        <input type="text">
                                        <label>Manga:</label><br/>
                                        <input type="text">
                                        <label>Nombre del capitán:</label><br/>
                                        <input type="text">
                                        <label>Teléfono del capitán:</label><br/>
                                        <input type="text">
                                        <label>Email del capitán:</label><br/>
                                        <input type="text">
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-6">
                                        <input type="submit" value="Guardar" class="btn btn-azul">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="basicos">
                            <form>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Fecha de Llegada:</label><br/>
                                        <input type="text">
                                        <label>Fecha de Salida:</label><br/>
                                        <input type="text">
                                        <label>Días de estadía:</label><br/>
                                        <input type="text">
                                        <label>Días adicionales:</label><br/>
                                        <input type="text">
                                        <label>Precio por día:</label><br/>
                                        <input type="text">
                                        <label>Descuento:</label><br/>
                                        <input type="text">
                                        <label>Abastecimiento de gasolina(lts):</label><br/>
                                        <input type="text">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Abastecimiento de agua:</label><br/>
                                        <input type="text">
                                        <label>Conexión a electricidad:</label><br/>
                                        <input type="text">
                                        <label>Dezasolve:</label><br/>
                                        <input type="text">
                                        <label>Limpieza de locación:</label><br/>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-6">
                                        <input type="submit" value="Guardar" class="btn btn-azul">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Precio en USD</span>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <span>Tipo de cambio: </span>
                                    <div class="btn btn-morado-claro">19.32 MXN</div>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Cant.</th>
                                            <th>Producto / Servicio</th>
                                            <th>Prec. Unit.</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Descripción</th>
                                            <th>Sub-Totales</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Producto</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                            <td>$1,213.25</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-morado-claro">Visualizar</a>
                                    <br/>
                                    <br/>
                                    <a class="btn btn-azul">Guardar</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="btn btn-morado-claro">
                                        + Producto / Servicio
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-offset-2 text-right">
                                    <hr>
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>$19,854.36 USD</p>
                                    <hr>
                                    <p class="letra-azul">IVA:</p>
                                    <p>$2,254.40 USD</p>
                                    <hr>
                                    <p class="letra-azul">Total:</p>
                                    <p>$22,075.72 USD</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock %}