{% block form_widget %}
    {% spaceless %}
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-9">
                    {{ form_row(form.peticion) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(form.cantidad) }}
                    <input type="number" class="subtotal">
                </div>
            </div>
            <a href="#" class="remove-producto btn btn-xs btn-naranja">
                <i class="fa fa-times" aria-hidden="true"></i>
                Remover Producto
            </a>
        </div>
    {% endspaceless %}
{% endblock form_widget %}