{% extends ':mail:base.html.twig' %}

{% block body %}
    <h2>Asignación de orden de trabajo</h2>
    <p style="text-align: right;">{{ 'now'|date('d/m/Y') }}</p>

    <h5>Asunto: Nueva orden de trabajo asignada</h5>
    {#<h5>Atención: Propietarios y Administradores</h5>#}

    <p>
        Estimado Proveedor/Contratista, el presente se le envía con el fin de informarle que ha si asignado a una nueva
        orden de trabajo con número de folio: <strong>{{ folio }}</strong>.
    </p>

    <p>
        Sin más por el momento agradecemos su atención.
    </p>
    <br/>
{% endblock body %}