@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
}

hr {
    margin-top: 0 !important;
    border-bottom: 1px solid rgba(62, 70, 99, 0.38) !important;
    border-top: 2px solid rgba(0, 0, 0, 0.2) !important;
    margin-bottom: 0 !important;
}

a {
    color: #ffffff;
}

.btn {
    min-width: 120px;
}

/*++++ colores fondo ++++*/
.fondo-azul {
    background-color: #0097f6;
}

.fondo-rojo {
    background-color: #DB235C;
}

.fondo-amarillo {
    background-color: #dc9f00;
}

.fondo-verde {
    background-color: #009933;
}

.fondo-naranja {
    background-color: #FF6600;
}

.fondo-blanco {
    background-color: #ffffff !important;
}

.fondo-morado {
    background-color: #292e41;
}

/*++ fin colores fondo +++*/

/*++++ colores letra +++++*/
.letra-azul {
    color: #0097f6;
}

/*++ fin colores letra ++++*/

/*++++ tamaño letra +++++*/
.tipo-letra1 {
    font-size: 2rem;
}

.tipo-letra2 {
    font-size: 1.5rem;
}

.tipo-letra3 {
    font-size: 6rem;
}

/*+++ fin tamaño letra ++++*/

/*++++ botones color ++++*/
.btn-morado-claro {
    background: #3e4766;
    color: #fff;
}

.btn-morado-claro:hover {
    background: #5d6696;
    color: #fff;
}

.btn-azul {
    background: #0097f6;
    color: #fff;
}

.btn-azul:hover {
    background: #4bc7fb;
    color: #fff;
}

.btn-contorno-azul {
    background: #292e41;
    color: #fff;
    border: 1px solid #0097f6;
}

.btn-contorno-azul:hover {
    color: #ffffff;
    background: #3e4766;
}

form > .btn-borrar, .btn-borrar {
    background: #8c0400;
    color: #fff;
}

form > .btn-borrar:hover, .btn-borrar:hover {
    background: #d40400;
    color: #fff;
}

.btn-naranja {
    background-color: #FF6600;
    color: #fff;
}

.btn-naranja:hover {
    background-color: #ff960d;
    color: #fff;
}

.btn-verde {
    background-color: #009933;
    color: #fff;
}

.btn-verde:hover {
    background-color: #00bb38;
    color: #fff;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}
.btn-morado-2{
    background-color: #3d2e5a;
    color: #fff;
}
.btn-morado-2:hover{
    background-color: #3e1e7d;
    color: #fff;
}
/*++ fin botones color ++*/

/*++++ mensajes sistema ++++*/
.alert-danger {
    background: #FF6600 !important;
    border-color: #FF6600;
    padding: 7px;
    margin-bottom: 3px;
}

/*++ fin mensajes sistema ++*/

/*+++++ check box estilo ++++++*/
.input-estatus {
    margin-top: 2rem;
}

.cont-label-novo {
    width: 20px;
    position: relative;
    margin: 20px auto;
}

.cont-label-novo label {
    width: 20px;
    max-width: none;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    /*background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);*/
    /*background: linear-gradient(to bottom, #222222 0%, #45484d 100%);*/
    background: #3e4766;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.cont-label-novo label:after {
    content: '';
    width: 14px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 3px;
    border: 3px solid #0097f6;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cont-label-novo label:hover::after {
    opacity: 0.3;
}

.cont-label-novo input[type=checkbox] {
    visibility: hidden;
}

.cont-label-novo input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/*+++ fin check box estilo ++++*/

/*+++++ radio boton +++++*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #ffffff;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #3e4766;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0097f6;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*++++ fin radio boton ++++*/
#loading {
    /*visibility: hidden;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    /*opacity: 0.7;*/
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    text-align: center;
}

#loading-image {
    color: #ffffff;
    position: absolute;
    bottom: 50%;
}

.wrapper {
    overflow-y: hidden;
}

.hoja-login {
    height: auto;
    min-height: 100%;
    background: url("../img/inicio-fondo.png");
    background-size: cover;
    position: relative;
}

.hoja-login > body {
    width: 100%;
    background: none;
    position: absolute;
    top: 30%;
}

.panel-login,
.panel-login > .panel-heading,
.panel-login > .panel-body {
    background: none;
    border: none;
    text-align: center;
}

.boton-login {
    background: url("../img/inicio-botton.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 75px;
}

.boton-login:hover {
    background: url("../img/inicio-botton-on.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus, .btn:focus {
    outline: none;
    color: #ffffff;
}

.panel-login img {
    width: 200px;
}

.panel-login input {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.letra-etiqueta-usuario {
    font-size: 19px;
}

.letra-nombre-usuario {
    color: #0097f6;
}

.btn-salir span {
    position: relative;
    top: -5px;
    color: #ffffff;
}

.btn-salir i {
    color: #0097f6;
}

.sidebar hr {
    width: 95%;
}

.panel-novo {
    border: none;
}

.panel-novo .panel-title {
    color: #0097f6;
    font-size: 27px;
}

.panel-novo > .panel-heading {
    background-color: #292e41;
}

.panel-novo > .panel-body,
.panel-novo > .panel-footer {
    background-color: #363c52;
}

.panel-novo > .panel-body {
    min-height: 400px;
}

.panel-novo > .panel-footer {
    border-top: none;
}

.panel-novo thead {
    background-color: #292e41;
    border-top: 2px solid #1c1f29;
}

.table > thead > tr > th {
    border: 2px solid #1c1f29 !important;
}

.dataTables_processing {
    background-color: #4a97f6;
}

.dataTable.table-novo.table thead tr th {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    height: 40px;
}

.dataTable.table-novo thead tr th.with-options select:focus,
.dataTable.table-novo thead tr th.with-choices select:focus,
.dataTable.table-novo thead tr th.with-options-pay select:focus {
    outline: none;
}

.dataTable.table-novo thead tr th.with-options select,
.dataTable.table-novo thead tr th.with-choices select,
.dataTable.table-novo thead tr th.with-options-pay select {
    height: 100%;
    background: #292e41;
}

.panel-novo th, .panel-novo table tr td {
    border: 2px solid #292e41;
    border-left: none;
    border-top: 2px solid #292e41 !important;
    border-left: 2px solid #292e41;
}

.panel-novo table tr td:first-of-type {
    border-left: 2px solid #292e41;
}

.panel-novo table tr td {
    border-top: none;
}

.panel-novo tbody tr:hover {
    /*background: #3e4766;*/
    cursor: pointer;
}

.panel-novo tbody td input[type="text"] {
    /*background: none;*/
    padding: 0px;
    border-radius: 0;
    text-align: center;
}

.panel-novo tbody td .btn {
    min-width: auto;
}

.panel-novo tbody .servicio-agregado > td {
    padding: 0 !important;
    vertical-align: middle;
}

.panel-novo .panel-pestanias {
    padding-top: 0;
}

.panel-novo .nav-tabs {
    border: none;
}

.panel-novo .nav-tabs > li > a,
.fc-left > .fc-button-group > .fc-state-default {
    margin-right: 0;
    border: none;
    border-radius: 0;
    /*background: #292e41;*/
    background: url("../img/pestania-no-select.png");
    background-size: 100% 100%;
    color: #fff;
    /*-webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);*/
    /*clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);*/
    min-width: 180px;
    text-align: center;
}

.panel-novo .nav-tabs > li.active > a,
.fc-left > .fc-button-group > button.fc-state-active {
    color: #fff;
    /*background: #0097f6;*/
    background: url("../img/pestania-select-medio.png");
    background-size: 100% 100%;
    border: none;
    z-index: 1;
}

.panel-novo .nav-tabs > li > a:hover {
    color: #9b9b9b;
}

.panel-novo .nav > li > a {
    padding: 10px 35px;
}

.panel .nav > .primero > a,
.fc-left > .fc-button-group > .fc-month-button {
    background: #292e41;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
}

.panel-novo .nav-tabs > li,
.fc-left > .fc-button-group > .fc-state-default {
    margin-left: -34px;
}

.panel-novo .nav-tabs > li.primero,
.fc-left > .fc-button-group > .fc-month-button {
    margin-left: 0;
}

.fc-left > .fc-button-group > .fc-state-hover {
    z-index: 0;
}

.fc-left > .fc-button-group > button:focus {
    outline: none;
}

.panel-body .tab-content {
    padding: 20px 15px;
}

.panel-body form input[type="text"],
.panel-body form input[type="email"],
.panel-body form input[type="password"],
.panel-body form input[type="number"],
.panel-body .dt-bootstrap input,
.panel-body form select,
.panel-body .dt-bootstrap select,
.panel-body form textarea,
.panel-body form .info-input,
.info-input {
    background: #3e4766;
    border: none;
    border-radius: 17px;
    padding: 5px 15px;
    width: 100%;
    color: #fff;
    min-height: 25px;
}

.panel-body ul.pagination li.active a {
    background: #0097f6;
}

.panel-body ul.pagination li a:hover {
    color: #fff;
}

.panel-body ul.pagination li.disabled a:focus,
.panel-body ul.pagination li.disabled a:hover,
.panel-body ul.pagination li a {
    background: #292e41;
    border: none;
}

.input-group .input-group-addon {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: #3e4766;
    border: none;
    color: #fff;
}

.panel-body form input[type="time"] {
    text-align: center;
    color: #ffffff;
    border: 1px solid #008CBA;
    background: #363c52;
}

.panel-body form input[type="time"]::-webkit-inner-spin-button {
    background: #363c52;
}

.panel-body form .info-input {
    min-height: 30px;
}

.panel-body form input:focus,
.panel-body form select:focus,
.panel-body form textarea {
    outline: none;
}

.panel-body form textarea {
    resize: none;
}

.panel-body form textarea::-webkit-scrollbar {
    width: 14px;
    background-color: #353b51;
}

.panel-body form textarea::-webkit-scrollbar-thumb,
body.wysihtml5-editor::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #292e41;
}

.panel-body form textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #59616e;
    border: 1px solid #353b51;
}

.panel-footer > nav > .pager > li > a {
    background: transparent;
    border-color: #0097f6;
}

.espacio-linea {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.espacio-linea-arriba2 {
    padding-top: 2rem;
}

.espacio-linea-arriba5 {
    padding-top: 5rem;
}

.espacio-linea-abajo2 {
    padding-bottom: 2rem;
}

.align-middle {
    vertical-align: middle !important;
}

/**
    FIX SIDEBAR SCROLLABLE
 */

.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 97px;
}

@media (min-width: 768px) {
    .skin-novo .main-sidebar {
        padding-top: 98px;
    }

    nav hr {
        margin-left: -230px;
    }
}

@media (max-width: 767px) {
    .fixed .content-wrapper,
    .fixed .right-side,
    .main-sidebar {
        padding-top: 146px;
    }

    .panel-novo .nav-tabs > li {
        margin-left: 0;
    }


}

/*++++ datepicker calendario ++++*/
.panel-body form .input-calendario {
    border: 1px solid #0097f6 !important;
    border-radius: 0px !important;
    background: url(../img/calendario-icon.png) no-repeat 97% !important;
    background-size: 20px !important;
}

.datepicker-dropdown {
    background: #292e41;
    border: none;
    padding: 0px;
}

.datepicker-days > table > thead > tr > th {
    background: #3e4766;
    border-radius: 0px;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #0097f6;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    background: #0097f6;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background: #0097f6 !important;
    border-radius: 20px;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
    background-image: none;
    background: #0097f6;
    border-radius: 20px;
}

.datepicker table tr td.range,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover,
.datepicker table tr td.range:hover {
    background: #3e4766;
}

.datepicker table tr td span.focused, .datepicker table tr td span:hover {
    background: #0097f6;
}

/*++++ fin datepicker calendario ++++*/

/*+++++ calendario agenda +++++*/
.fc-widget-header {
    background: none;
}

.fc-state-default {
    text-shadow: none;
    box-shadow: none;
}

.fc-toolbar {
    padding-top: 0px;
}

.fc-unthemed td.fc-today {
    background: #3e4766
}

.fc-center > div > button,
.fc-center > div > h2 {
    float: left;
}

.fc-center button {
    background: none;
    color: #0c97f4;
    margin: 0;
    border: none;
}

.fc-center button:focus {
    outline: none;
}

.fc-center button > span {
    font-size: 2rem;
}

.fc button .fc-icon {
    margin: 0;
    line-height: 2.5rem;
}

.fc-center button:hover {
    background: none;
}

.fc-center .fc-prev-button {
    padding: 0px;
    margin-right: 1rem;
}

.fc-center .fc-next-button {
    padding: 0px;
    margin-left: 1rem;
}

.fc-toolbar .fc-center {
    width: 100%;
    padding-top: 2rem;
}

.fc-body thead {
    background: none;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #282d40;
}

/*+++ fin calendario agenda +++++*/

/*++++++++ radio boton aceptar,rechazar +++++++*/

.middle input[type="radio"] {
    display: none;
}

.middle .opcionaceptar:checked + label {
    background-color: #009933;
}

.middle .opcionrechazar:checked + label {
    background-color: #FF6600;
}

.middle .opcionpendiente:checked + label {
    background-color: #858585;
}

.middle [type="radio"]:checked + label:after,
.middle [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 0px;
    height: 0px;
}

.middle input[type="radio"]:checked + label span {
    color: #ffffff;
    transform: translateY(70px);
}

.middle input[type="radio"]:checked + label span:before {
    transform: translateY(0px);
    opacity: 1;
}

.middle .opcionaceptar + label:hover {
    background-color: #009933;
    /*box-shadow: 0px 0px 15px 1px #009933;*/
}

.middle .opcionrechazar + label:hover {
    background-color: #FF6600;
    /*box-shadow: 0px 0px 15px 1px #FF6600;*/
}

.middle .opcionpendiente + label:hover {
    background-color: #858585;
    box-shadow: 0px 0px 15px 1px #858585;

}

.middle label {
    padding: 10px 30px;
    border-radius: 4px;
    border: 2px solid #292e41;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 900;
    margin-right: 2rem;
    min-width: 145px;
}

.middle label:active {
    /*transform: translateY(10px);*/
}

.middle label span {
    position: absolute;
    /*transform: translate(0, 60px);*/
    left: 0;
    right: 0;
    /*transition: all 300ms ease;*/
    font-size: 1.5em;
    user-select: none;
    color: #000;
}

.middle .opcionaceptar + label:before,
.middle .opcionrechazar + label:before,
.middle .opcionpendiente + label:before {
    content: '';
    font-size: 1.2em;
    display: block;
    /*transform: translateY(-80px);*/
    opacity: 0;
    /*transition: all 300ms ease-in-out;*/
    font-weight: normal;
    color: #000000;
}

#notarechazado {
    display: none;
}

/*++++++ fin radio boton aceptar,rechazar +++++*/

/*+++++ Modal borrar ++++*/
.ventanaborrar .modal-content {
    background: #363c52;
}

.ventanainfomapa .modal-content .modal-header {
    background: #3e4766;
}

.ventanainfomapa .modal-content .modal-body,
.ventanainfomapa .modal-footer {
    border-top: 0px !important;
    background: #292e41;
}

/*++ Fin Modal borrar ++*/

/*++ Scroll admin +++*/
.scroll-novo::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #59616e;
}

.scroll-novo::-webkit-scrollbar {
    width: 12px;
    background-color: #353b51;
}

.scroll-novo::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #282d40;
}

/*++ fin Scroll admin +++*/

.barcoespacio:hover, text:hover {
    cursor: pointer;
}

.select2-container {
    width: 100% !important;
}

td .select2-container--default .select2-selection--single {
    border-radius: 0 !important;
}

/* ---- temporal ----*/
.etiqueta-evento {
    color: #ffffff;
    text-align: left;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: 4px;
    padding: 4px;
}

.panel-novo .calendario tbody tr:hover {
    background: none;
    cursor: none;
}

.calendario tbody td:hover {
    background: #3e4766;
    cursor: pointer;
}

#mnsmas {
    height: 20px;
    padding-top: 0px;
    background: transparent;
    color: #008CBA;
    border: 1px solid #008CBA;
}

#hrs {
    text-align: center;
    width: 90px;
    height: 20px;
    padding-top: 0px;
    color: white;
    font-size: 0.90em;
    border: 1px solid #008CBA;
    margin-left: -4px;
    margin-right: -4px;
}

#mnsmas {
    height: 20px;
    padding-top: 0px;
    background: transparent;
    color: #008CBA;
    border: 1px solid #008CBA;
}

.margenboton {
    margin-right: 30px;
}

.padingleft {
    padding-left: 25px;
}

.estatus-personal {
    width: 24px;
}

/* ---- fin temporal ----*/

.fondo-error {
    background: url("../img/Novonautica-error-03.svg") no-repeat center;
}

.contenido-error {
    padding-top: 8%;
    padding-bottom: 2%;
}

/*----- editor texto wysihtml5------*/
.wysihtml5-toolbar .btn {
    background: #292e41;
    color: #ffffff;
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background-color: #0097f6;
    color: #ffffff;
}

/*---fin editor texto wysihtml5------*/

/* --- Input file customizado --- */
input[type="file"] {
    overflow: hidden;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

input[type="file"] + label {
    border: 1px solid #0097f6;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #363c52;
    color: #fff;
}

input[type="file"] + label:hover {
    background: #0097f6;
}

input[type="file"] + label * {
    pointer-events: none;
}

/* --- fin Input file customizado --- */

.cuadro-zona{
    cursor: pointer;
}
.cuadro-zona:hover{
    fill:rgba(0,0,0,0.08) ;
    opacity: 0;

}
.alert-dismissable .close, .alert-dismissible .close {
    position: initial;
}
.sin-encabezado{
    border-top: 2px solid #292e41;
}
.tabla-info td{
    padding: 3px;
}
.timeline > li > .timeline-item {
    border-radius: 0;
    background-color: #292e41;
}
.timeline > li > .timeline-item > .timeline-header {
    color: #fff;
    border-bottom-color: #0097f6;
}
.sin-linea:before{
    width: 0px;
}