{% block appbundle_astillero_grupo_producto_widget %}
    <div class="col-sm-3">
        {{ form_row(form.producto) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.tipoCantidad) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.cantidad) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.observaciones) }}
    </div>
    <div class="col-sm-1">
        <a href="#" class="elimina-elemento btn-xs btn-naranja">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
{% endblock %}