{% block _appbundle_astillero_servicio_productos_widget %}
    <div {{ block('widget_container_attributes') }}>
        <div class="col-sm-12" style="margin-bottom: 2rem;">
            <fieldset>
                <legend>Productos</legend>
                <div class="row novo-checkbox-container">
                    {% for key,choice in form.vars.choices %}
                        <div class="col-sm-4">
                            {{ form_widget(form[key]) }}
                            {{ form_label(form[key]) }}
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}