<h4 class="text-center" style="color: #000">NOTIFICACIÓN</h4>

<h5>Asunto: Aviso de Cargos Moratorios de su estadía y servicios</h5>
<h5>Atención: Propietarios y Administradores</h5>

<p>
    Estimado Cliente, le informamos que presenta un atraso en el pago de su estadía y servicios, agradeceremos su
    pronto pago para evitar recargos moratorios del <span class="red-color">8%</span> de su tarifa a partir del día 16 del presente mes.
</p>

<p>
    Apreciamos su colaboración
</p>
