<h4 class="text-center" style="color: #000">NOTIFICACIÓN DE COBRO MARINA</h4>

<h5>Asunto: Recordatorio de Pago de Estadía y Servicios</h5>
<h5>Atención: Propietarios y Administradores</h5>

<p>
    Estimado Cliente, el presente recordatorio se le envía con el fin de informarle que en la fecha
    <span class="red-color">{{ notificacion.fechaNotificacionCobro|date('d/m/Y') }}</span> vence la mensualidad de su estadía. Le solicitamos amablemente
    realizar el pago antes de esa fecha para
    evitar recargos.
</p>

<p>
    Sin más por el momento agradecemos su atención.
</p>