<h4 class="text-center" style="color: #000">AVISO DE SUSPENSIÓN DE SERVICIOS</h4>

<h5>Estimado cliente:</h5>

<p>
    Por medio de la presente, le informamos que al día de hoy no presenta un registro de pago en nuestro sistema,
    agradecemos su pago inmediato ya que el día 30 del presente mes se le suspenderá los servicios Marina a su
    embarcación y solo se aceptara el paso del capitán o representante legal para la supervisión de la misma.
</p>

{% if notificacion.folioCotizacion is defined %}
    <h6>Folio de cotización: {{ notificacion.folioCotizacion }}</h6>
{% endif %}

<p>
    Solicitamos de su colaboración para seguir ofreciéndole un buen servicio, de no recibir el pago vencido en la
    fecha estipulada será aplicado lo siguiente:
</p>

<ul>
    <li style="font-weight: 700">Corte de los servicios.</li>
    <li style="font-weight: 700">Suspensión de despachos</li>
    <li style="font-weight: 700">Cargo por reconexión de servicios</li>
</ul>