{% block _appbundle_astillero_producto_proveedores_widget %}
    <div class="row">
        <div class="col-sm-10">
            {{ form_widget(form) }}
        </div>
        <div class="col-sm-2 delete-container">
        </div>
    </div>
{% endblock %}
