<!DOCTYPE html>
<html>
<link rel="stylesheet"
      type="text/css"
      href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}"
>
<style type="text/css">
    .texto1 {
        font-size: 20px;
    }
    .letra-blanca {
        color: #ffffff;
    }
    .imagenlogo {
        min-width: 200px;
        padding: 10px;
    }
    .fondo-bicolor-arriba {
        background: url("{{ absolute_url(asset('img/imagen-03.jpg')) }}") no-repeat;
        background-size: cover;
    }
    .pad-arriba-2 {
        padding-top: 15px;
    }
    .cuadro-bordeado{
        border:1px solid #000;
        padding: 3px;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 ">
            <img src="{{ absolute_url(asset('img/cotizacion-03.png') ) }}" class="img-responsive imagenlogo">
        </div>
        <div class="col-xs-6 text-center pad-arriba-2">
            COTIZACIÓN<br>ASTILLERO
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            V&V Astillero, S.A de C.V<br>
            Tel. +52 (998) 234-01-00 ext. 104
        </div>
        <div class="col-xs-6 text-right">
            Fecha de eleaboración: <span class="cuadro-bordeado">22-Nov-17</span>
        </div>
    </div>
</div>
</body>
</html>