<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<style type="text/css">
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            Calle Vialidad Paseo Mujeres Mz 1 Lt 1 Zona Continental SM 3, Isla Mujeres, Q. Roo, México C.P. 77400 Tel: (52) 998 234 01 00
        </div>
    </div>
</div>
</body>
</html>